@media (max-width: 1480px){
   .header{
      &__background{
         width: 100%;
         position: fixed;
         top: 70px;
         left: 0;
         right: 0;
      }
      &__brands{
         max-width: 100%;
         min-height: 180px;
         bottom: -10%;
         right: 0;
      }
   }
   .infoblock-left{
      &__review{
         right: 22%;
      }
   }
   .footer-info{
      padding: 0 150px 0 170px;
   }
}
@media (max-width: 1350px){
   .top-info{
      &__wrapper{
         column-gap: 60px;
         padding-top: 15px;
         margin: 0 50px;
      }
   }
   .awesome-projects{
      &__wrapper{
         margin: 0 30px;
         margin-bottom: 70px;
         padding-top: 50px;
         column-gap: 30px;
      }
   }
   .infoblock-left{
      &__review{
         right: 10%;
      }
   }
   .advantages{
      &__wrapper{
         margin: 0 65px 150px;
      }
   }
   .footer-top{
      padding: 0 30px;
      &__together{
         padding: 20px;
         max-width: 100%;
         top: -70px;
      }
      &__together-title{
         font-size: 36px;
         line-height: 1;
         margin-bottom: 20px;
      }
      &__contacts{
         padding-top: 100px;
      }
   }
   .footer-info{
      padding:0 30px;
   }
   .footer-bottom{
      padding: 0 30px;
   }
}
@media (max-width: 1200px){
   .header{
      &__top{
         padding: 24px 15px;
      }
      &__info{
         padding: 50px 65px 30px;
      }
      &__title{
         font-size: 40px;
         line-height: 60px;
         max-width: 616px;
         margin-bottom: 20px;
      }
      &__brands{
         bottom: -15%;
      }
   }
   .top-info{
      &__wrapper{
         margin: 0 30px;
      }
      &__review-text{
         font-size: 16px;
      }
   }
   .infoblock-right{
      &__wrapper{
         column-gap: 30px;
         row-gap: 30px;
         flex-wrap: wrap;
         justify-content: center;
      }
      &__review{
         position: relative;
         bottom: 0;
         left: 0;
      }
   }
   .infoblock-left{
      &__wrapper{
         column-gap: 30px;
         row-gap: 30px;
         flex-wrap: wrap;
         justify-content: center;
         margin-left: 0;
      }
      &__img-box{
         order: 1;
      }
      &__info{
         max-width: 45%;
         order: 2;
      }
      &__review{
         position: relative;
         max-width: 45%;
         right: 0;
         bottom: 0;
         order:32;
      }
   }
   .infoblock-right__wrapper-last{
      margin-bottom: 100px;
   }
   .advantages{
      &__wrapper{
         margin: 0 30px 100px;
      }
      &__items{
         column-gap: 15px;
      }
      &__item{
         padding: 17px 16px 26px 15px;
      }
   }
   .footer-info{
      column-gap: 15px;
   }
}
@media (max-width: 991px){
   .header{
      &__top{
         padding: 15px;
      }
      &__nav-link{
         font-size: 14px;
      }
      &__info{
         padding: 30px 30px 20px;
      }
      &__brands{
         bottom: -15%;
         min-height: 120px;
      }
      &__brands-item{
         width: 100px;
         height: 100px;
      }
   }
   .top-info{
      &__wrapper{
         flex-wrap: wrap;
         justify-content: center;
         row-gap: 20px;
      }
   }
   .awesome-projects{
      &__wrapper{
         flex-wrap: wrap;
         justify-content: center;
         row-gap: 20px;
      }
   }
   .infoblock-right{
      &__info{
         max-width: 45%;
      }
      &__text + .infoblock-right__text{
         margin-bottom: 35px;
      }
      &__review{
         max-width: 45%;
      }
   }
   .advantages{
      &__wrapper{
         margin: 0 0 50px;
      }
      &__items{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }
      &__item{
         min-height: 250px;
      }
      &__title{
         font-size: 26px;
         max-width: 100%;
      }
      &__subtitle{
         font-size: 18px;
      }
   }
   .footer-top{
      &__contacts{
         justify-content: space-between;
      }
   }
   .footer-info{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      row-gap: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }
}
@media (max-width: 767px){
   .container{
      padding: 0 10px;
   }  
   .header{
      &__background{
         top: 60px;
      }
      &__logo-link{
         z-index: 20;
      }
      &__top{
         padding: 10px 15px;
      }
      &__nav{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #BEDA74;
         z-index: 10;
         display: flex;
         align-items: center;
         padding-top: 90px;
         flex-direction: column;
         overflow: auto;
         top: -100%;
         transition: all .3s;
      }
      &__nav--active{
         top: 0;
      }
      &__nav-link{
         font-size: 24px;
         margin-bottom: 30px;
      }
      &__nav-link + .header__nav-link{
         margin-left: 0px;
      }
      &__nav-btn{
         z-index: 20;
         display: block;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         border: none;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         padding: 0px;
         span{
            width: 18px;
            height: 2px;
            background-color: #000;
         }
         &::before,
         &::after{
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background-color: #000;
            transition: all .2s;
         }
         &::before{
            top: 14px;
         }
         &::after{
            bottom: 14px;
         }
      }
      &__nav-btn--active{
         span{
            display: none;
         }
         &::before{
            transform: rotate(45deg);
            top: 19px;
         }
         &::after{
            transform: rotate(-45deg);
            bottom: 19px;
         }
      }
      &__subtitle{
         margin-bottom: 5px;
      }
      &__title{
         font-size: 30px;
         line-height: 45px;
         max-width: 100%;
         margin-bottom: 10px;
      }
      &__info{
         margin-top: 60px;
         p{
            font-size: 14px;
            line-height: 22px;
            max-width: 100%;
            margin-bottom: 15px;
         }
      }
      &__info-link{
         margin-bottom: 30px;
      }
      &__brands{
         bottom: -38%;
         z-index: -1;
      }
   }
   .awesome-projects{
      &__wrapper{
         margin-bottom: 70px;
      }
   }
   .infoblock-right{
      &__info{
         max-width: 100%;
      }
      &__title{
         font-size: 26px;
      }
      &__review{
         max-width: 100%;
      }
   }
   .infoblock-left{
      &__info{
         max-width: 100%;
      }
      &__title{
         font-size: 26px;
      }
      &__review{
         max-width: 100%;
      }
   }
   .footer-info{
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width: 650px){
   .header{
      &__logo-link{
         width: 200px;
      }
      &__info{
         padding: 30px 15px 15px;
      }
      &__info-link{
         margin-bottom: 25px;
      }
      &__brands{
         bottom: -40%;
         column-gap: 20px;
      }
      &__brands-item{
         width: 85px;
      }
   }
   .top-info{
      &__title{
         font-size: 26px;
      }
      &__review{
         padding-top: 30px;
      }
      &__review-text{
         margin-bottom: 10px;
      }
      &__review-name{
         font-size: 16px;
      }
   }
   .awesome-projects{
      &__title{
         font-size: 26px;
         max-width: 100%;
      }
   }
   .footer-top{
      &__contacts{
         padding-top: 150px;
         column-gap: 10px;
      }
   }
   .footer-info{
      grid-template-columns: repeat(1, 1fr);
      &__title{
         pointer-events: all;
         position: relative;
      }
      &__list{
         display: none;
      }
   }
   .footer-info__title--click{
      padding-right: 25px;
      display: inline-block;
      &::before{
         content: '';
         position: absolute;
         background-color: #fff;
         right: 6px;
         top: 14px;
         width: 2px;
         height: 10px;
         transition: all .3s;
         transform: rotate(-45deg);
      }
      &::after{
         content: '';
         position: absolute;
         background-color: #fff;
         right: 0;
         top: 14px;
         width: 2px;
         height: 10px;
         transition: all .3s;
         transform: rotate(45deg);
      }
   }
   .footer-info__title--click.footer-info__title--active{
      &::before{
         transform: rotate(45deg);
      }
      &::after{
         transform: rotate(-45deg);
      }
   }
}
@media (max-width: 470px){
   .header{
      &__info {
         padding: 30px 10px 5px;
         p{
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 0;
            padding-bottom: 30px;
         }
      }
      &__info-link{
         margin-bottom: 15px;
      }
      &__title{
         font-size: 22px;
         line-height: 24px;
         margin-bottom: 10px;
      }
      &__logo-link{
         width: 150px;
      }
      &__brands{
         bottom: -87%;
         flex-wrap: wrap;
      }
   }
   .top-info{
      &__wrapper{
         padding-top: 110px;
         margin: 0;
      }
      &__review{
         padding-left: 10px;
         padding-top: 10px;
      }
      &__review-name{
         font-size: 14px;
      }
      &__review-position{
         font-size: 14px;
      }
   }
   .awesome-projects{
      &__wrapper{
         margin: 0;
         margin-bottom: 70px;
         padding-top: 30px;
      }
   }
   .infoblock-right{
      &__review{
         padding: 10px;
      }
      &__review-name{
         font-size: 14px;
      }
      &__review-position{
         font-size: 14px;
      }
   }
   .infoblock-left{
      &__review{
         padding: 10px;
      }
      &__review-name{
         font-size: 14px;
      }
      &__review-position{
         font-size: 14px;
      }
   }
   .advantages{
      &__title{
         font-size: 18px;
         margin-bottom: 20px;
      }
      &__items{
         grid-template-columns: repeat(1, 1fr);
      }
      &__item{
         min-height: 200px;
      }
      &__subtitle{
         font-size: 16px;
      }
   }
   .footer{
      .container{
         padding: 0;
      }
   }
   .footer-top{
      padding: 0 15px;
      &__together-title{
         font-size: 22px;
      }
      &__contacts{
         padding-top: 190px;
         column-gap: 30px;
         flex-wrap: wrap;
         justify-content: start;
         row-gap: 15px;
         padding-bottom: 30px;
         margin-bottom: 30px;
      }
      &__contacts-title{
         line-height: 1;
      }
   }
   .footer-info{
      padding: 0 15px;
      &__item:last-child{
         padding-bottom: 30px;
      }
      &__title{
         margin-bottom: 0;
      }
      p{
         font-size: 14px;
         line-height: 1.5;
         max-width: 270px;
         margin-bottom: 20px;
      }
      &__mail{
         font-size: 18px;
      }
   }
   .footer-bottom{
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
      padding-bottom: 30px;
      row-gap: 20px;
      a{
         width: 100%;
         display: block;
         text-align: center;
      }
   }
}