// $default: #1B3764;
$hover: #FFD723;
// $accent: #FFCA42;
// $text-color: #B4C7E7;
// $textwhite: #F6F8FC;
// $textgray: #969AA0;

// %btn {
//    background-color: $accent;
//    font-size: 19px;
//    line-height: 28px;
//    letter-spacing: 0.57px;
//    text-transform: capitalize;
//    color: $default;
//    border: none;
//    cursor: pointer;
//    transition: all .2s;

//    &:hover {
//       color: $accent;
//       background-color: $hover;
//    }
// }


%poppins-700 {
   font-family: 'Poppins-Bold', sans-serif;
   font-weight: 700;
}
%poppins-500 {
   font-family: 'Poppins-Medium', sans-serif;
   font-weight: 500;
}
%poppins-italic-400 {
   font-family: 'Poppins-Italic', sans-serif;
   font-weight: 400;
}
%poppins-600 {
   font-family: 'Poppins-SemiBold', sans-serif;
   font-weight: 600;
}
%poppins-400 {
   font-family: 'Poppins-Regular', sans-serif;
   font-weight: 400;
}
