<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   <div class="wrapper">
   <header class="header">
      <div class="container header__wrapper">
         <div class="header__background"></div>
         <div class="header__top">
            <a class="header__logo-link" href="#">
               <svg class="header__logo-svg">
                  <use xlink:href="images/sprite.svg#logo" width="257" height="40"></use>
               </svg>
            </a>
            <nav class="header__nav">
               <a class="header__nav-link" href="#">Brands</a>
               <a class="header__nav-link" href="#">Awesomr projects</a>
               <a class="header__nav-link" href="#">Deation & Evaluation</a>
            </nav>
         </div>
         <div class="header__info">
            <h6 class="header__subtitle">A place where </h6>
            <h1 class="header__title">A creative agency for redemptive brands</h1>
            <p>Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.</p>
            <a class="header__info-link" href="#">Get in touch</a>
         </div>
         <div class="header__brands">
            <div class="header__brands-item">
               <img class="header__brands-img" src="images/brand-1.png" alt="brand image">               
            </div>
            <div class="header__brands-item">
               <img class="header__brands-img" src="images/brand-2.png" alt="brand image">               
            </div>
            <div class="header__brands-item">
               <img class="header__brands-img" src="images/brand-3.png" alt="brand image">               
            </div>
            <div class="header__brands-item">
               <img class="header__brands-img" src="images/brand-4.png" alt="brand image">               
            </div>
            <div class="header__brands-item">
               <img class="header__brands-img" src="images/brand-5.png" alt="brand image">               
            </div>
         </div>
      </div>
   </header>